<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ZOQU|Handicraft announcement portal</title>
</head>
<body>
<header class="showcase">
  <div class="container">
    <nav class="navigation-small">
      <ul>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Regulamin</a></li>
        <li><a href="#">O nas</a></li>
      </ul>
    </nav>
    <nav class="navigation-main">
      <div class="logo">
        <a href="#"><img src="../../assets/photo/logo.svg" alt=""></a>
      </div>
      <div class="search-bar">
        <label>
          <input type="text" placeholder= "Szukaj">
        </label>
      </div>
      <ul>
        <li><a href="#">Zaloguj się</a></li>
        <li><a href="#">Zarejestruj się</a></li>
        <li><button><img src="../../assets/photo/empty-heart.svg" alt="" width="28px" height="25px"> </button></li>
      </ul>
    </nav>
  </div>
  <nav class="categories"></nav>
  <app-categories></app-categories>
</header>

</body>
</html>
