<div class="content-wrapper">
  <div class="adding-form-background">
    <div class="forms-container">
      <form [formGroup]="addingForm" (ngSubmit)="onSubmit()">
        <h3 class="add-announcement-title">Dodawanie ogłoszenia</h3>
        <div class="title-form form-group">
          <label class="label-title" for="title">Tytuł:
            <span>*</span>
            <br>
            <input
              type="text"
              id="title"
              name="title"
              maxlength="70"
              formControlName="title">
          </label>
          <p>pozostało znaków: {{ titleChars - this.addingForm.get('title').value.length }}</p>
        </div>
        <div class="categories">
          <div class="category-select form-group">
            <label class="label-title" for="categories">Wybór kategorii:</label>
            <span>*</span>
            <br>
            <select
              name="categories"
              id="categories"
              formControlName="category"
              (change)="onSelectedCategory()">
              <option
                *ngFor="let category of categories"
                [value]="category.name">
                {{ category.name }}
              </option>
            </select>
          </div>
          <div
            class="subcategory-select form-group"
            *ngIf="this.addingForm.get('category').dirty">
            <label class="label-title" for="subcategories">Wybór podkategorii I: </label>
            <select
              name="subcategories"
              id="subcategories"
              formControlName="subcategory"
             (change)="onSelectedSubcategory()">
              <option
                *ngFor="let subcategory of getCategoryFromCategories().subcategories"
                [value]="subcategory.name"
              >{{ subcategory.name }}</option>

            </select>
          </div>
          <div
            class="subuSubcategory-select form-group"
            *ngIf="this.addingForm.get('subcategory').dirty">
            <label class="label-title" for="subcategories">Wybór podkategorii II: </label>
            <select
              name="subSubcategories"
              id="subSubcategories"
              formControlName="subSubcategory"
            >
              <option
                *ngFor="let subSubcategory of getSubcategoryFromSubcategories().subcategories"
                [value]="subSubcategory"
              >{{ subSubcategory }}</option>

            </select>
          </div>

        </div>


        <div class="description-form form-group">
          <label class="label-title" for="description">Opis:</label>
          <span>*</span>
          <br>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
            maxlength="7000"
            formControlName="content">
        </textarea>
          <p>pozostało znaków: {{ contentChars - this.addingForm.get('content').value.length }}</p>
        </div>

        <div
          class="product-details"
          formGroupName="productDetails">
          <div class="color-detail form-group">
            <label class="label-title" for="color">Kolor produktu:</label>
            <br>
            <select
              name="color"
              id="color"
              class="select-medium"
              formControlName="color">
              <option value="Niebieski">Niebieski</option>
              <option value="Czarny">Czarny</option>
              <option value="Biały">Biały</option>
              <option value="Zielony">Zielony</option>
            </select>
            <br>
            <div class="material-detail form-group">
              <label class="label-title" for="material">Materiał produktu:</label>
              <br>
              <select
                name="material"
                id="material"
                class="select-medium"
                formControlName="material">
                <option value="Akryl">Akryl</option>
                <option value="Drewno">Drewno</option>
                <option value="Szkło">Szkło</option>
                <option value="Kryształ">Kryształ</option>
              </select>
            </div>
          </div>
        </div>
        <div class="photos form-group">
          <h3 class="photos-title">Zdjęcia:</h3>
          <div class="photos-container">
            <div class="photos-wrapper">
              <div class="photo-icon"><img src="../../../../assets/icons/add-photo-icon.svg" alt=""></div>
              <p>Nie wybrano zdjęcia</p>
              <input #inputElement class="photo-input-btn" type="file" hidden>
              <button (click)="activateInput(inputElement)" class="add-photo-btn">Wybierz zdjęcie</button>
            </div>
          </div>
          <p>Maksymalny rozmiar zdjęcia to 5 MB</p>
        </div>
        <div class="price-input form-group">
          <label class="label-title" for="price">Cena: </label>
          <span>*</span>
          <br>
          <input
            type="text"
            id="price"
            name="price"
            class="input-small"
            maxlength="7"
            formControlName="price">
        </div>
        <div class="button-element form-group">
          <button
            class="button"
            type="submit"
          >
            Dodaj ogłoszenie
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
