<div class="container">
  <div class="forms-container">
    <h3 class="info-edit-title">Edycja danych</h3>
    <h3 class="form-title">Dane podstawowe:</h3>
    <div class="basic-info">
      <div class="upper-labels-wrapper">
        <div class="label-item">
          <label for="name">Imię:</label><br>
          <input type="text" id="name" name="name">
        </div>
        <div class="label-item">
          <label for="lname">Nazwisko:</label><br>
          <input type="text" id="lname" name="lname">
        </div>
      </div>

      <div class="bottom-labels-wrapper">
        <div class="label-item">
          <label for="email">Adres e-mail:</label><br>
          <input type="text" id="email" name="email">
        </div>
        <div class="label-item">
          <label for="number">Numer telefonu:</label><br>
          <input type="text" id="number" name="number">
        </div>
      </div>

      <h3 class="form-title">Adres podstawowy:</h3>
      <div class="address-info">
        <div class="upper-labels-wrapper">
          <div class="label-item">
            <label for="street">Ulica:</label><br>
            <input type="text" id="street" name="street">
          </div>
          <div class="label-item">
            <label for="house-number">Nr.domu:</label><br>
            <input class="small" type="text" id="house-number" name="house-number">
          </div>
          <div class="label-item">
            <label for="flat-number">Nr.lokalu:</label><br>
            <input class="small" type="text" id="flat-number" name="flat-number">
          </div>
        </div>

        <div class="bottom-labels-wrapper">
          <div class="label-item">
            <label for="code">Kod pocztowy:</label><br>
            <input type="text" id="code" name="code">
          </div>
          <div class="label-item">
            <label for="city">Miejscowość:</label><br>
            <input type="text" id="city" name="city">
          </div>
        </div>
      </div>
    </div>

      <a class="button" href="#">Zapisz zmiany</a>

  </div>
</div>

