<div class="-bar-container">
    <div class="bar">
      <div class="bar-item">
        <img src="../../../../assets/images/icons/page-icon.svg" alt="page-icon">
        <p class="page-info">www.craftsman.com</p>
      </div>

      <div class="bar-item">
        <img src="../../../../assets/images/icons/email-icon.svg" alt="email-icon">
        <p class="email-info">craftsman@gmail.com</p>
      </div>

      <div class="bar-item">
        <img src="../../../../assets/images/icons/tel-icon.svg" alt="number-icon">
        <p class="number-info">534-242-567</p>
      </div>
    </div>
</div>
