<div class="-bar-container">
    <div class="bar">
      <div class="bar-item">
        <img src="../../../../assets/images/icons/page-icon.svg" alt="page-icon">
        <p class="page-info">{{userContact?.webpage}}</p>
      </div>

      <div class="bar-item">
        <img src="../../../../assets/images/icons/email-icon.svg" alt="email-icon">
        <p class="email-info">{{userContact?.email}}</p>
      </div>

      <div class="bar-item">
        <img src="../../../../assets/images/icons/tel-icon.svg" alt="number-icon">
        <p class="number-info">{{userContact?.phonenumber}}</p>
      </div>
    </div>
</div>
