<header class="showcase">
  <div class="container">
    <nav class="navigation-small">
      <ul>
        <li><a routerLink="/kontakt">Kontakt</a></li>
        <li><a routerLink="/regulamin">Regulamin</a></li>
        <li><a routerLink="/o-nas">O nas</a></li>
      </ul>
    </nav>
    <nav class="navigation-main">
      <div class="logo">
        <a href="#"><img src="../../../assets/logo/logo.svg" alt=""></a>
      </div>
      <div class="search-bar">
        <label>
          <input type="text" placeholder= "Szukaj">
        </label>
      </div>
      <ul class="logging-panel">
        <ng-container *ngIf="authService.isLoggedIn(); else notLogged">
          <li><a routerLink="/profil" *ngIf="authService.isLoggedIn()" routerLinkActive="active">Profil
            <span><img src="../../../assets/icons/profile-icon.svg" ></span></a></li>
          <li><a (click)="logout()" routerLink="/home" *ngIf="authService.logout">Wyloguj się</a></li>
        </ng-container>
        <ng-template #notLogged>
          <li><a routerLink="/logowanie">Zaloguj się</a></li>
          <li><a routerLink="/rejestracja">Zarejestruj się</a></li>
        </ng-template>
        <li><button><img src="../../../assets/images/icons/empty-heart.svg" alt="" width="28px" height="25px"> </button></li>
      </ul>
    </nav>
  </div>
  <nav class="categories"></nav>
  <app-categories></app-categories>
</header>

