@import "../../config";

* {
  background-color: $background-color;
}

.search-bar {

  label {
    position: relative;
  }

  label:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("../../../assets/images/icons/magnifier.svg") center / contain no-repeat;
  }

  input {
    padding: 10px 30px;
    outline: none;
  }
}

.showcase {
  color: $font-color-primary;
  height: 270px;

  a {
    text-decoration: none;
  }
}

.container {
  a:visited {
    text-decoration: none;
    color: black;
  }

  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;

  .navigation-small {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      align-items: center;
      margin-bottom: 0;

      li {
        padding: 0 30px;
        font-size: 12px;
        text-decoration: none;

        a:visited {
          text-decoration: none;
          color: $font-color_secondary;
        }
      }
    }
  }
}

.navigation-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-bar {
    input {
      width: 640px;
      background: $input-bar-background;
      border: 1px solid #D1D1D1;
      box-sizing: border-box;
      box-shadow: $box-shadow;
      border-radius: 12px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    li {
      font-size: 18px;
      padding-right: 30px;
    }

    button {
      margin: fill;
      border: none;
      outline: none;
      padding: 0;
      background-color: transparent;
    }
  }
}


