<div class="container">
<div class="horizontal-line"></div>
  <div class="color-details">
    <h3>Kolory:</h3>
    <ul class="colors-list">
      <li class="colors-list-item">granatowy,</li>
      <li class="colors-list-item">zielony,</li>
      <li class="colors-list-item">złoty</li>
    </ul>
  </div>
  <span class="heart-icon"><img src="assets/icons/filled-heart.svg" alt=""></span>
  <div class="material-details">
    <h3>Materiały:</h3>
    <ul class="materials-list">
      <li class="materials-list-item">akryl,</li>
      <li class="materials-list-item">stal chirurgiczna</li>
    </ul>
  </div>
  <div class="tags">
    <h3>Tagi:</h3>
    <ul class="tags-list">
      <li class="tag-item">bransoletka</li>
      <li class="tag-item">biżuteria</li>
      <li class="tag-item">złoto</li>
      <li class="tag-item">koraliki</li>
      <li class="tag-item">diamenty</li>
    </ul>
  </div>


</div>
