<div class="container">
  <nav>
    <ul>
      <li *ngFor="let category of (mainCategoriesList | async)">
        <div class="category">
          <label>
            <input type="checkbox" id="main-cat"/>
            <a >
              {{category.name | uppercase}}
            </a>
          </label>
          <div class="subcategories-area">
            <div *ngFor="let subcategory of category.subcategories" class="subcat">
              <label><input type="checkbox" id="submain-cat-1"/>
                <a>
                  {{ subcategory.name }}
                </a>
              </label>
              <ul>
                <li *ngFor="let subsubcategory of subcategory.subcategories">
                  <a>
                    {{subsubcategory.name}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
