@import '../../config';

.container {
  //width: 100vw;
  //width: 100%;
  margin: 0 20px;
  //position: absolute;

  input {
    display: none;
  }


  nav > ul { // uklad poziomy kat głownych
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #d3d3d3;

    li:hover {
      background-color: rgba(113, 191, 191, 0.6);
    }

    li:hover div label a {
      cursor: pointer;
    }

    li:hover div label a:active {
      color: $font-color_violet_dark;
    }
  }

  nav a {
    display: block;
    text-decoration: none;
  }

  a:after {
    content: '';
    position: relative;
    float: right;
  }

  nav ul li {
    list-style: none;
    transition: 0.5s;
  }

  nav > ul > li { //label or a tag
    padding: 15px 25px;
  }
}

.subcategories-area {
  background-color: $background-color;
  border-top: 5px solid #d3d3d3;
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: -9999px;
}

nav ul li:hover .subcategories-area {
  top: 100%
}

nav .subcategories-area {
  width: auto;
  padding: 0 10px 10px 10px;

  div{
  padding: 0 10px;
}

  label a {
    font-size: 1.3em;
    color: black;
    padding: 15px 0;
    list-style: none;
    cursor: pointer;
  }
}

nav .subcategories-area ul li a {
  margin-right: 10px;
  margin-top: 5px;
  color: $font-color_secondary;
  cursor: pointer;
}

