<div class="container">
  <nav>
    <ul>
      <li *ngFor="let category of (categoriesList | async)">
        <div class="category">
          <label><input type="checkbox" id="main-cat"/>{{category.name}}</label>
          <div class="subcategories-area">
            <div *ngFor="let subcategory of category.subcategories" class="subcat"><a href="#"></a>
              <label><input type="checkbox" id="submain-cat-1"/><a href="#">{{ subcategory.name }}</a></label>
              <ul>
                <li *ngFor="let subsubcategory of subcategory.subcategories"><a href="#">{{subsubcategory}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
