
<div class="container">
  <div class="form-wrapper">

    <div class="login-by-social">
      <h3>Zaloguj</h3>
      <button class="btn btn-google">
        <img src="../../../assets/images/icons/google-icon.svg">
        Zaloguj się przez Google
      </button>
      <button class="btn btn-fb">
        <img src="../../../assets/images/icons/fb-icon.svg">
        Zaloguj się przez Facebook
      </button>
    </div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Twój email:</label>
        <input
          id="email"
          type="email"
          formControlName="email">
        <span
          *ngIf="loginForm.get('email').invalid && loginForm.get('email').value.length > 0">
          Wprowadź poprawny email!
        </span>
        <span
          *ngIf=" (loginForm.get('email').touched && loginForm.get('email').invalid && !(loginForm.get('email').value.length > 0)) ">
          Wprowadź email!
        </span>
      </div>

      <div class="form-group">
        <label for="password">Twoje hasło:</label>
        <input
          id="password"
          type="password"
          formControlName="password">
        <span *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">Wprowadź hasło!</span>
        <p class="forgot-pass"><a href="#">Nie pamiętasz hasła?</a></p>
      </div>
      <button
        class="submit-btn"
        type="submit"
        #button
        [disabled]="loginForm.invalid">
        <span [matTooltip]="loginForm.invalid ? 'Wypełnij odpowiednie pola' : ''">Zaloguj się</span>
      </button>
    </form>
    <p class="create-acn"><a routerLink="/rejestracja">Jesteś tu pierwszy raz? - załóż konto</a></p>
  </div>
</div>
<app-footer></app-footer>
