
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .announcment-wrapper {
    width: 1336px;
    height: 1695px;
    background: #F9F9F9;
    border-radius: 38px;
    //border: 1px solid black;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 795px) {
    .announcment-wrapper {
      grid-template-columns: 1fr;
    }

  }
  //@media (max-width: 600px) {
  //  .announcment-wrapper {
  //    grid-template-columns: 1fr;
  //  }
  //}
}

