<!--<div class="container">-->
<!--  <div class="all-photos">-->
<!--    <div class="main-logo">-->
<!--    </div>-->
<!--    <div class="other-photos">-->
<!--      <div class="logo-1"></div>-->
<!--      <div class="logo-1"></div>-->
<!--      <div class="logo-1"></div>-->
<!--      <div class="logo-1"></div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
<div class="slider">

  <div class="slide-list">

    <a href="#slide-1"><img class="slide-1" src="../../../assets/images/Rectangle 41.png" width="100" height="100"></a>
    <a href="#slide-2"><img class="slide-1" src="../../../assets/images/bracelet-view.png" width="100" height="100"></a>
    <a href="#slide-3"><img class="slide-1" src="../../../assets/images/bracelet-view-2.jpg" width="100" height="100"></a>
    <a href="#slide-4"><img class="slide-1" src="../../../assets/images/bracelets-stuff.jpeg" width="100" height="100"></a>
    <a href="#slide-5"><img class="slide-1" src="../../../assets/images/braceletes.jpg" width="100" height="100"></a>
  </div>

  <div class="slides">
    <div id="slide-1">
      1
    </div>
    <div id="slide-2">
      2
    </div>
    <div id="slide-3">
      3
    </div>
    <div id="slide-4">
      4
    </div>
    <div id="slide-5">
      5
    </div>
  </div>
</div>
