
<div class="slider">
  <div class="slide-container">
  <img id="chosen-slide" src="../../../../assets/images/bracelet-view-2.jpg" alt="">
  </div>
  <div class="slide-list">
    <img class="thumbnail active" src="../../../../assets/images/Rectangle 41.png" width="100" height="100" alt="">
    <img class="thumbnail" src="../../../../assets/images/bracelet-view.png" width="100" height="100" alt="">
    <img class="thumbnail" src="../../../../assets/images/bracelet-view-2.jpg" width="100" height="100" alt="">
    <img class="thumbnail" src="../../../../assets/images/bracelets-stuff.jpeg" width="100" height="100" alt="">
    <img class="thumbnail" src="../../../../assets/images/braceletes.jpg" width="100" height="100" alt="">
    <img class="thumbnail" src="../../../../assets/images/bracelet-view-2.jpg" width="100" height="100" alt="">
    <img class="thumbnail" src="../../../../assets/images/bracelets-stuff.jpeg" width="100" height="100" alt="">
    <img class="thumbnail" src="../../../../assets/images/braceletes.jpg" width="100" height="100" alt="">
  </div>
</div>
