$font-color_secondary: #84209d;
$font-color_violet_dark: #610b74;
$font-color-primary: #000000;
$background-color: #ffffff;
$input-bar-background: #f9f9f9;
$box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);

