<app-header></app-header>
<div class="form-container">
  <div class="form-wrapper">
    <div class="login-by-social">
      <h3>Rejestracja</h3>
      <button class="btn btn-google">
        <img src="../../../assets/images/icons/google-icon.svg">
        Zaloguj się przez Google
      </button>
      <button class="btn btn-fb">
        <img src="../../../assets/images/icons/fb-icon.svg">
        Zaloguj się przez Facebook</button>
    </div>
    <form class="login-form">
      <div class="login-item">
        <label
          for="name">
          Twoje imię:
          <span>*</span>
        </label>
        <input
          id="name"
          type="text">
      </div>

      <div class="login-item">
        <label
          for="surname">
          Twoje nazwisko:
          <span>*</span>
        </label>
        <input
          id="surname"
          type="text">
      </div>

      <div class="login-item">
        <label
          for="email">
          Twój email:
          <span>*</span>
        </label>
        <input
          id="email"
          type="email">
      </div>

      <div class="login-item">
        <label for="password">
          Twoje hasło:
          <span>*</span>
        </label>
        <input
          id="password"
          type="password">
      </div>

      <div class="login-item">
        <label for="password-repeat">
          Powtórz hasło:
          <span>*</span>
        </label>
        <input
          id="password-repeat"
          type="password">
      </div>
<!--dodac button do form-->
    </form>
    <button class="submit-btn" type="submit">Zarejestruj się</button>
   <p><a routerLink="/logowanie">Masz już konto? zaloguj się</a></p>
  </div>
</div>
<app-footer></app-footer>
