<div class="container">
  <div class="basic-info header">
    <h2 class="product-title">{{announcement?.title}}</h2>
    <p class="product-price">{{announcement?.price}} zł</p>
  </div>
  <div class="contact-info">
<!--    <div class="seller-profile-view">-->
      <img class="seller-profile-pic" src="../../../../assets/images/profile-pic.png" alt="#">

      <div class="right-info-section">
        <div class="p-wrapper">
          <p class="seller-name">Adam Kowalski</p>
          <p class="see-more">Zobacz inne produkty sprzedającego</p>
        </div>

        <div class="contact-buttons">
          <a href="#" class="message-btn">Napisz wiadomość</a>
          <a href="#" class="call-btn">Zadzwoń</a>
        </div>
      </div>
  </div>
  <p class="product-info">{{announcement?.description}}</p>
</div>
