<div class="sidebar-container">
  <nav class="sidebar">
    <div class="title-wrapper"></div>
    <div class="nav-title">Kategorie</div>
    <ul class="main-categories">
      <li>
        <a href="#">ONA
          <i class="fas fa-caret-down"></i>
        </a>
        <ul>
          <li><a href="">Moda</a></li>
          <li><a href="">Biżuteria</a></li>
          <li><a href="">Dodatki</a></li>
        </ul>
        </li>
      <li>
        <a href="#">ON
          <i class="fas fa-caret-down"></i>
        </a>
        <ul>
          <li><a href="">Moda</a></li>
          <li><a href="">Biżuteria</a></li>
          <li><a href="">Dodatki</a></li>
        </ul>
      </li>
      <li>
        <a href="#">KOSMETYKI
          <i class="fas fa-caret-down"></i>
        </a>
        <ul>
          <li><a href="">Do włosów</a></li>
          <li><a href="">Do twarzy</a></li>
          <li><a href="">Do ciała</a></li>
        </ul>
      </li>
      <li>
        <a href="#">DOM I OGRÓD
          <i class="fas fa-caret-down"></i>
        </a>
        <ul>
          <li><a href="">Kuchnia</a></li>
          <li><a href="">Łazienka</a></li>
          <li><a href="">Salon</a></li>
          <li><a href="">Oświetlenie</a></li>
          <li><a href="">Ozdoby</a></li>
        </ul>
      </li>
      <li>
        <a href="#">ZWIERZĘTA
          <i class="fas fa-caret-down"></i>
        </a>
        <ul>
          <li><a href="">Legowiska</a></li>
          <li><a href="">Obroże i smycze</a></li>
          <li><a href="">Zabawki</a></li>
          <li><a href="">Ubranka</a></li>
          <li><a href="">Inne</a></li>
        </ul>
      </li>
      <li><a href="#">AKCESORIA</a></li>
    </ul>
  </nav>
</div>

