.sidebar-container {
  display: grid;
  grid-template-columns: 20%;
  margin-left: 20px;

}
.sidebar {
  width: 300px;
  height: 1400px;
  background: #f3f3f3;
  border-radius: 30px;


  .nav-title {
    font-size: 25px;
    color: #4b4646;
    border-bottom: 1px dotted rgba(127, 67, 117, 0.6);
    padding-top: 20px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    text-align: center;
    //border-radius: 30px;
  }

    .main-categories {
      height: 100%;
      width: 100%;
      list-style: none;


      li {
        line-height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        z-index: 1;



        .show {
          display: block;
        }

        .active {
          color: #84209d;
        }


        a {
          text-decoration: none;
          color: #333;
          font-size: 18px;
          padding-left: 20px;
          display: block;
          width: 100%;
          border-left: 3px solid transparent;
          position: relative;



          &:hover {
            font-weight: 600;
            //color: #570095
            //background: rgba(127, 67, 117, 0.3);
            border-left-color:rgba(127, 67, 117, 0.1);


            i {
              color: #84209d;
              transform: translateY(-50%) rotate(-180deg);
              transition: all 0.3s ease-in;
            }
          }

          i {
            color: #A3A3A3;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);

          }
        }


        ul {
          display: none;

        li {
          line-height: 40px;
          border-bottom: none;
          list-style: none;

          a {
            font-size: 18px;
            padding-left: 60px;
            text-decoration: none;
          }
        }
          ul {
            line-height: 40px;
            border-bottom: none;

            a {
              font-size: 14px;
              padding-left: 100px;
            }
          }

        }


      }

    }

}
