<div class="sidebar-container">
  <nav class="sidebar">
    <div class="title-wrapper"></div>
    <div class="nav-title">Kategorie</div>
    <ul class="main-categories">
      <li class="subcategory" (click)="onShowSubcategory($event)">
        <a href="#">ONA
          <i class="fas fa-caret-down"></i>
        </a>
        <ul class="she subcategories" >
          <li><a href="#">Moda
            <i class="fas fa-caret-down"></i>
          </a>
            <ul class="sub-subcategories">
              <li><a href="#">T-shirty</a></li>
              <li><a href="#">Bluzy</a></li>
              <li><a href="#">Swetry</a></li>
              <li><a href="#">Żakiety</a></li>
              <li><a href="#">Spodnie</a></li>
              <li><a href="#">Spódnice</a></li>
              <li><a href="#">Kurtki i płaszcze</a></li>
              <li><a href="#">Bielizna</a></li>
            </ul>
          </li>
          <li><a href="">Biżuteria</a></li>
          <li><a href="">Dodatki</a></li>
        </ul>
        </li>
      <li class="subcategory" (click)="onShowSubcategory($event)">
        <a href="#" >ON
          <i class="fas fa-caret-down"></i>
        </a>
        <ul class="he subcategories">
          <li><a href="">Moda</a></li>
          <li><a href="">Biżuteria</a></li>
          <li><a href="">Dodatki</a></li>
        </ul>
      </li>
      <li class="subcategory" (click)="onShowSubcategory($event)">
        <a href="#">KOSMETYKI
          <i class="fas fa-caret-down"></i>
        </a>
        <ul class="cosmetics subcategories">
          <li><a href="">Do włosów</a></li>
          <li><a href="">Do twarzy</a></li>
          <li><a href="">Do ciała</a></li>
        </ul>
      </li>
      <li class="subcategory" (click)="onShowSubcategory($event)">
        <a href="#">DOM I OGRÓD
          <i class="fas fa-caret-down"></i>
        </a>
        <ul class="house subcategories">
          <li><a href="">Kuchnia</a></li>
          <li><a href="">Łazienka</a></li>
          <li><a href="">Salon</a></li>
          <li><a href="">Oświetlenie</a></li>
          <li><a href="">Ozdoby</a></li>
        </ul>
      </li>
      <li class="subcategory" (click)="onShowSubcategory($event)">
        <a href="#">ZWIERZĘTA
          <i class="fas fa-caret-down"></i>
        </a>
        <ul class="animals subcategories">
          <li><a href="">Legowiska</a></li>
          <li><a href="">Obroże i smycze</a></li>
          <li><a href="">Zabawki</a></li>
          <li><a href="">Ubranka</a></li>
          <li><a href="">Inne</a></li>
        </ul>
      </li>
      <li class="subcategory"><a href="#">AKCESORIA</a></li>
    </ul>
  </nav>
</div>

