.container {
  display: flex;
  align-items: center;
  justify-content: center;


  .forms-container {
    background: #F9F9F9;
    border-radius: 30px;
    width: 1295px;
    height: 1129px;
    padding-left: 64px;
    padding-top: 15px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;

    .info-edit-title {
      font-size: 36px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .form-title {
      font-size: 26px;
      margin-bottom: 45px;
    }


      .button {
        display: flex;
        background: #7C4B77;
        border-radius: 12px;
        width:182px;
        height: 60px;
        color: #fff;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        margin-right: 75px;
        margin-top: 200px;
        align-self: flex-end;
      }



    .basic-info {
      font-size: 18px;

      input {
        background: #FDFDFD;
        border: 1px solid #D1D1D1;
        box-sizing: border-box;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        height: 50px;
        width: 250px;
        margin-top: 15px;
        margin-right: 180px;
      }

      .label-item {
        margin-bottom: 50px;

      }

      .upper-labels-wrapper {
        display: flex;

      }

      .bottom-labels-wrapper {
        display: flex;

      }
    }

    .address-info {
      .small {
        width: 105px;

      }
    }
  }

}

