<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "autoPlay": true,
"wrapAround": true}'>
  <div class="carousel-cell flex-center"><img src="assets/images/main-page-photo.jpg" alt=""></div>
  <div class="carousel-cell flex-center"><img src="assets/images/main-image-2.jpg" alt=""></div>
  <div class="carousel-cell flex-center"><img src="assets/images/main-page-3.jpg" alt=""></div>
</div>
<div class="body flex-center">
  <div class="container-1">
    <div class="column"><img src="assets/images/icons/shipping-fast-solid%201.svg"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam </p></div>
    <div class="column"><img src="assets/images/icons/smile-regular%201.svg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam </p></div>
    <div class="column"><img src="assets/images/icons/thumbs-up-solid%201.svg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam </p></div>
  </div>
</div>
