
  <!-- Flickity HTML init -->
  <div class="carousel" data-flickity='{ "autoPlay": true,
"wrapAround": true}'>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  <div class="body">
  <div class="container-1">
    <div class="column"><img src="assets/images/icons/shipping-fast-solid%201.svg"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam </p></div>
    <div class="column"><img src="assets/images/icons/smile-regular%201.svg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam </p></div>
    <div class="column"><img src="assets/images/icons/thumbs-up-solid%201.svg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam </p></div>
  </div>
</div>
