<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "autoPlay": true,
"wrapAround": true}'>
  <div class="carousel-cell flex-center"><img src="assets/images/main-page-photo.jpg" alt=""></div>
  <div class="carousel-cell flex-center"><img src="assets/images/main-image-2.jpg" alt=""></div>
  <div class="carousel-cell flex-center"><img src="assets/images/main-page-3.jpg" alt=""></div>
</div>
<div class="body flex-center">
  <div class="container-1">
    <div class="column flex-center"><img src="assets/images/icons/shipping-fast-solid%201.svg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p></div>
    <div class="column flex-center"><img src="assets/images/icons/smile-regular%201.svg" alt="">
      <p>Tętniąca życiem społeczność prawdziwych ludzi, którzy kontaktują się w związku z niezwykłymi produktami.Nasza
        platforma umożliwia sprzedawcom robienie tego, co kochają, a kupującym — znaleźć to, co kochają.</p></div>
    <div class="column flex-center"><img src="assets/images/icons/thumbs-up-solid%201.svg" alt="">
      <p>Nasze narzędzia wyszukiwania, od konkretnych po nieoczekiwane (czyli tworzone na zamówienie), pomagają
        kupującym w poznaniu wszystkich niezwykłych, jedynych w swoim rodzaju produktów oferowanych przez sprzedawców Zoqu
        Etsy.</p></div>
  </div>
</div>
