<div class="flex-container">
  <div class="announcments-cards-container">
    <div class="announcment-card">
      <img class="card-image" src="../../../assets/images/mock-pick.png" alt="">
      <h3 class="title">Bransoletka z koralików</h3>
      <p class="price">25,00 zł</p>
    </div>

    <div class="announcment-card">
      <img class="card-image" src="../../../assets/images/mock-pick.png" alt="">
      <h3 class="title">Bransoletka z koralików</h3>
      <p class="price">25,00 zł</p>
    </div>

    <div class="announcment-card">
      <img class="card-image" src="../../../assets/images/mock-pick.png" alt="">
      <h3 class="title">Bransoletka z koralików</h3>
      <p class="price">25,00 zł</p>
    </div>
    <div class="announcment-card">
      <img class="card-image" src="../../../assets/images/mock-pick.png" alt="">
      <h3 class="title">Bransoletka z koralików</h3>
      <p class="price">25,00 zł</p>
    </div>
    <div class="announcment-card">
      <img class="card-image" src="../../../assets/images/mock-pick.png" alt="">
      <h3 class="title">Bransoletka z koralików</h3>
      <p class="price">25,00 zł</p>
    </div>
    <div class="announcment-card">
      <img class="card-image" src="../../../assets/images/mock-pick.png" alt="">
      <h3 class="title">Bransoletka z koralików</h3>
      <p class="price">25,00 zł</p>
    </div>

  </div>

</div>
