.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adding-form-background {
  width: 1318px;
  height: 1945px;
  background: #F9F9F9;
  border-radius: 30px;
  border: 1px solid mediumslateblue;
  margin-bottom: 200px;
  //display: flex;
  //justify-content: flex-start;

}

.forms-container {
  margin-left: 60px;

  input, select {
    width: 400px;
    height: 40px;
    background: #FDFDFD;
    border: 1px solid #D1D1D1;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
  }

  textarea {
    background: #FDFDFD;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
  }
  span {
    color: #63E3FF;
  }
}
